.metadata
bin/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# IntelliJ
.idea

# External tool builders
.externalToolBuilders/
RemoteSystemsTempFiles

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Code Recommenders
.recommenders/

# Build Folders
.gradle
